@media all and (max-width: 63em) {
  .navbar {
    height: 20vh;
  }
  
  #adv-search-btn {
    margin-top: 10px;
    margin-left: 0 !important;
  }
    
  #footer-inner-wrapper {
    flex-direction: column !important;
  }
  
  .footer-menu-grouper {
    width: 100% !important;
  }
}

@media all and (max-width: 48em) {
  .navbar-brand {
    font-size: 300% !important;
  }
  
  #footer-container {
    font-size: 50%;
  }
}

@media all and (max-width: 40em) {
  .navbar {
    height: 25vh;
  }
  
  .navbar-brand {
    font-size: 150% !important;
  }
  
  .accordian {
    margin-top: 15vh !important;
  }
  
  .accordian-image {
    height: 10rem !important;
    width: 15rem !important;
  }

  .footer-menu-grouper {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  
  h5 {
    font-size: 100% !important;
  }
}