@media all and (max-width: 63em) {
  .navbar {
    height: 20vh;
  }
  
  #advSearchBtn {
    margin-top: 10px;
    margin-left: 0 !important;
  }
    
  #footerInnerWrapper {
    flex-direction: column !important;
  }
  
  .footerMenuGrouper {
    width: 100% !important;
  }
}

@media all and (max-width: 48em) {
  .navbar-brand {
    font-size: 300% !important;
  }
  
  #footerContainer {
    font-size: 50%;
  }
}

@media all and (max-width: 30em) {
  .navbar {
    height: 25vh;
  }
  
  .navbar-brand {
    font-size: 200%;
  }
}