// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../bootstrap-5.0.1/scss/functions";
// 2. Include any default variable overrides here
@import "variables";
// 3. Include remainder of required Bootstrap stylesheets
@import "../../bootstrap-5.0.1/scss/mixins";
@import "../../bootstrap-5.0.1/scss/variables";
// 4. Include any optional Bootstrap components as you like
@import "optionalBootstrapComponents"; 
@import "mixins";
@import "jsAppliedClasses";

body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', serif;
}

.navbar {
  @include background-gradient;
  height: 10vh;

  & .navbar-brand {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 400%;
  }
}

p a {
  color: black !important;
  text-decoration: underline !important;

  &:hover {
    background-color: orange;
  }
}

.column-section {
  text-shadow: 2px 2px 10px black;

  &#work-col {
    color: $secondary;
  }

  &#casual-col {
    color: $info;
  }

  &#sporting-col {
    color: $primary;
  }
}

.column-image {
  position: absolute;
  height: 40rem;
  width: 30rem;
}

#work-accordian {
  display: none;
}

#casual-accordian {
  display: none;
}

#sporting-accordian {
  display: none;
}

.accordian-button {
  color: white;
}

.work-accordian-button {
  background-color: #5B2A8D;
  border-color: $info;
}

.casual-accordian-button {
  background-color: #327AC2;
  border-color: $info;
}

.sporting-accordian-button {
  background-color: #C5BC11;
  border-color: $primary;
}

.accordian-image {
  height: 20rem;
  width: 30rem;
  margin: 2rem;
}

#footer-container {
  @include background-gradient;
  color: white;
  font-size: 75%;

  & h5 {
    align-self: flex-start;
    justify-content: center;
  }
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: orange;
    text-decoration: underline;
  }
}

i {
  margin: 20px;
  font-size: 400%;

  &:hover {
    color: orange;
  }
}

.about-panel {
  min-height: 9rem;
  background-color: #D0D5DB;
}
@import "breakpoints";